<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Register</h1>
    <!-- display errors if form isn't filled out properly to constraints ↓↓↓-->
    <ul>
        <% if (typeof errors != 'undefined'){ %> <% errors.forEach(error=>{ %>
            <li><%= error.message %></li>
            <% }) %> <% } %>
    </ul>

    <form action="/users/register" method="POST">
        <div>
            <input 
                type = "text" 
                name = "name" 
                id = "name" 
                placeholder = "UserName" 
                required
                >
        </div>
        <div>
            <input 
                type = "email" 
                name = "email" 
                id = "email" 
                placeholder = "your email" 
                required
                >
        </div>
        <div>
            <input 
                type = "password" 
                name = "password" 
                id = "password" 
                placeholder = "password" 
                required
                >
        </div>
        <div>
            <input 
                type = "password" 
                name = "password2" 
                id = "password2" 
                placeholder = "confirm password" 
                required
                >
        </div>
        <div>
            <input 
                type = "submit" 
                value = "register" 
                />
        </div>
        <a href="/users/login">Already have an account? Login Here</a>
    </form>
</body>
</html>